packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mkdir:
    command: "mkdir -p /mnt/efs"
  02_mount:
    # Mount the EFS volume
    command: "mount -t efs -o tls ${FILE_SYSTEM_ID}:/ /mnt/efs"
    ignoreErrors: true
  03_permissions:
    # GIVE PERMISSION TO NODE.JS TO WRITE HERE
    command: "chmod 777 /mnt/efs"